




<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-4 col-lg-6 mx-auto">
      <div class="vh-100 d-flex align-items-stretch py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h1 class="h3">
                Sign in with GitHub
              </h1>
              <form [formGroup]="oAuthForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="gitHubLogin">
                    GitHub login
                  </label>
                  <input id="gitHubLogin" type="text" class="form-control"
                         formControlName="gitHubLogin">
                  <div *ngIf="gitHubLogin.invalid && (gitHubLogin.dirty || gitHubLogin.touched)"
                       class="text-danger">
                    <div *ngIf="gitHubLogin.errors.required">
                      GitHub login is required.
                    </div>
                  </div>
                </div>
                <button class="btn btn-dark btn-block" type="submit" [disabled]="oAuthForm.invalid">
                  Sign In
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block col-md-4 col-lg-6 bg-light border-left">
      <div class="vh-100 d-flex align-items-stretch py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <span class="h3">GitCandidates</span>
              <p>
                Finding the perfect job octo be easy.
              </p>
              <ol class="list-unstyled">
                <li class="mb-3">
                  <strong class="mb-2 ml-2">Secure GitHub access</strong>
                  <small class="d-block ml-4">Enter your GitHub username to securely authenticate your GitHub account.</small>
                </li>
                <li class="mb-3">
                  <strong class="mb-2 ml-2">Flexible search tools</strong>
                  <small class="d-block ml-4">Browse job opportunities by company, languages, frameworks and more!</small>
                </li>
                <li class="mb-3">
                  <strong class="mb-2 ml-2">See what you can do</strong>
                  <small class="d-block ml-4">Each company puts out some repos related to the needs of the positions.</small>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
